<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <style>
      .row {
        display: flex;
        gap: 10px;
      }
      .row div {
        width: 200px;
      }
      .heading {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="row heading">
      <div>id</div>
      <div>Назва</div>
      <div>Категорія</div>
      <div>Ціна</div>
    </div>
    <% products.forEach((item) => { %>
    <div class="row">
      <div><%= item.id %></div>
      <div><%= item.name %></div>
      <div><%= item.category %></div>
      <div><%= item.price %> UAH</div>
    </div>
    <% }) %>
  </body>
</html>
